%h1
  Welcome to the CoVis Codex podcast
  %span{style: 'float:right; font-size: 20px;'}
    = link_to 'http://feeds.feedburner.com/CovisCodex', style: 'color: orange;' do
      = fa_icon 'rss-square'
      RSS
%hr
%h4 What's the CoVis Codex?
%p
  The CoVis Codex is an interview podcast where we meet up with the community's movers and shakers and ask them the questions that really matter.
  Questions like "What's your favorite band?" or "Pepsi or Coke?"
%h4 But.. why?
%p
  Well, we all know these people. We know what they do for a living, but I'd like to hope that we are more than just our jobs.
  What are they really like? What do we have in common?
  %br
  %br
    By asking "trivial" questions we can get to know these rock stars on a more personal level. That's good for them, it's good for us, and it's good for the community as a whole.
  %br
    \...plus I get a kick out of it. :)
%h4 Who's in the Codex?
%p These fine superstars (with more to come!):
%p
  - @codex_guests.each do |guest|
    %div{style: 'width:200px; display: inline-block; border: solid 1px #ddd; text-align: center; padding: 5px; background-color: #fff;'}
      = link_to "/codex/#{guest.slug}" do
        = image_tag guest.avatar.url(:small)
        %br= guest.full_name