%h1{style: 'margin:0;'}
  CoVis Codex -
  = @codex_guest.full_name
  %span{style: 'float:right; font-size: 20px;'}
    = link_to 'http://feeds.feedburner.com/CovisCodex', style: 'color: orange;' do
      = fa_icon 'rss-square'
      RSS
%hr
%div{class: 'embed-container'}
  %iframe{:frameborder => "0", :src => "http://www.youtube.com/embed/#{@video_link}"}
%br
%div{style: 'text-align: center; overflow: auto;'}
  %table{style: 'width:100%; padding: 0; margin: 0;'}
    %tr
      %td{style: 'border: 0; vertical-align: top; text-align: left;'}
        %a.twitter-share-button{:href => "https://twitter.com/share"}
      %td{style: 'border: 0; vertical-align: top;'}
        %script{:src => "https://apis.google.com/js/platform.js"}
        .g-ytsubscribe{"data-channelid" => "UCQIIHsMgPRyshGEWOk32CUA", "data-count" => "default", "data-layout" => "default"}
      %td{style: 'border: 0; vertical-align: top; text-align: right;'}
        .fb-like{"data-action" => "like", "data-href" => "#{request.original_url}", "data-layout" => "button_count", "data-share" => "true", "data-show-faces" => "true"}
%hr
%div
  %div{style: 'overflow: auto;'}
    %span{style: 'display: inline-block; float: left;'}
      = image_tag @codex_guest.avatar.url(:medium)
    %span{style: 'display: inline-block; vertical-align: top; float: right;'}
      %table{style: 'margin:0;'}
        %tr
          %td{colspan: 2, style: 'border:0; text-align: center; font-size: 50px;'}
            = @codex_guest.full_name
        - if @codex_guest.twitter.present?
          %tr
            %td{style: 'border: 0; text-align: right;'}
              twitter:
            %td{style: 'border: 0;'}
              = link_to "http://twitter.com/#{@codex_guest.twitter}" do
                = fa_icon 'twitter-square'
                = @codex_guest.twitter
        - if @codex_guest.facebook.present?
          %tr
            %td{style: 'border: 0; text-align: right;'}
              facebook:
            %td{style: 'border: 0;'}
              = link_to "http://facebook.com/#{@codex_guest.facebook}" do
                = fa_icon 'facebook-square'
                = @codex_guest.facebook
        - if @codex_guest.linkedin.present?
          %tr
            %td{style: 'border: 0; text-align: right;'}
              linkedin:
            %td{style: 'border: 0;'}
              = link_to "http://linkedin.com/in/#{@codex_guest.linkedin}" do
                = fa_icon 'linkedin-square'
                = @codex_guest.linkedin
        - if @codex_guest.website.present?
          %tr
            %td{style: 'border: 0; text-align: right;'}
              web:
            %td{style: 'border: 0;'}
              = link_to "http://#{@codex_guest.website}" do
                = fa_icon 'external-link-square'
                = @codex_guest.website
        %tr
          %td{style: 'border: 0;'}
          %td{style: 'border: 0;'}
        %tr
          %td{style: 'border: 0; text-align: right;'}
            Podcast MP3:
          %td{style: 'border: 0;'}
            = link_to "#{@codex_guest.audio.url}" do
              = fa_icon "download"
              Download
        %tr
          %td{style: 'border: 0; text-align: right;'}
            Subscribe MP3:
          %td{style: 'border: 0;'}
            = link_to 'http://feeds.feedburner.com/CovisCodex', style: 'color: orange;' do
              = fa_icon 'rss-square'
              RSS
        %tr
          %td{colspan: 2, style: 'text-align: center; border: 0; color: #ddd;'}
            = @codex_guest.date_uploaded.strftime("%m/%d/%Y")
#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=441634829228957&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
:javascript
  if ($(".fb-like").length > 0) {
    if (typeof (FB) != 'undefined') {
      FB.init({ status: true, cookie: true, xfbml: true });
    } else {
      $.getScript("//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=441634829228957&version=v2.0", function () {
        FB.init({ status: true, cookie: true, xfbml: true });
      });
    }
  }