= form_for @codex_guest, as: :codex_guests, :url => @codex_guest.new_record? ? admin_codex_guests_path : admin_codex_guest_path(@codex_guest),:html => { :multipart => true } do |form|
  %table
    %tr
      %td First Name
      %td
        = form.text_field :first_name
    %tr
      %td Last Name
      %td
        = form.text_field :last_name
    %tr
      %td Description
      %td
        = form.text_area :description
    %tr
      %td twitter
      %td
        = form.text_field :twitter
    %tr
      %td Facebook
      %td
        = form.text_field :facebook
    %tr
      %td LinkedIn
      %td
        = form.text_field :linkedin
    %tr
      %td Website
      %td
        = form.text_field :website
    %tr
      %td Youtube Video Link
      %td
        = form.text_field :link_video
    %tr
      %td Audio File
      %td
        = form.file_field :audio
    %tr
      %td Avatar
      %td
        = form.file_field :avatar
    %tr
      %td Show Notes
      %td
        = form.text_area :show_notes
    %tr
      %td{colspan: 2, style: 'text-align: center;'}
        = form.submit