!!!
%html
  %head
    %title
      = @video_link.present? ? "CoVis Codex - #{@codex_guest.full_name}" : 'CoVis CoWorking - Omaha, Nebraska'
    = stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => false
    = stylesheet_link_tag 'joystix/joystix.css'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans|Quattrocento'
    = stylesheet_link_tag 'myStyles.css'
    = stylesheet_link_tag 'style.css'

    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    = javascript_include_tag 'myScript.js'
    = javascript_include_tag 'jquery.shuffleLetters.js'
    = javascript_include_tag 'jquery.rest.js'
    = javascript_include_tag 'firstLoad.js'
    = javascript_include_tag 'jquery.lightbox_me.js'
    = javascript_include_tag '//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54c12403411d866d', :async => true
    = csrf_meta_tags
    - if @video_link.present?
      %meta{:content => "#{Rails.application.secrets.facebook_app_id}", :property => "fb:app_id"}/
      %meta{:content => "#{request.original_url}", :property => "og:url"}/
      %meta{:content => "article", :property => "og:type"}/
      %meta{:content => "CoVis Codex - #{@codex_guest.full_name}", :property => "og:title"}/
      %meta{:content => "#{@codex_guest.avatar.url.split('?').first}", :property => "og:image"}/

      %meta{:content => "summary_large_image", :name => "twitter:card"}
      %meta{:content => "@covisco", :name => "twitter:site"}
      %meta{:content => "@skidvis", :name => "twitter:creator"}
      %meta{:content => "CoVis Codex - #{@codex_guest.full_name}", :name => "twitter:title"}
      %meta{:content => "#{@codex_guest.description}", :name => "twitter:description"}
      %meta{:content => "#{@codex_guest.avatar.url.split('?').first}", :name => "twitter:image:src"}/

    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}

    / Facebook link Image
    %meta{:content => "http://covisco.com/covisco_block.png", :property => "og:image"}/
    %meta{:content => "Skid Vis", :name => "author"}/
  %body
    #firstLoad.gaming{:style => "padding:20px;"}
      %a{:href => "#", :onClick => "showVideo();", :style => "font-size:30px;"}
        Wondering what coworking is?
        %br>/
        click here to watch a short video!
      %a#dismiss{:href => "#", :onClick => "dismiss();"} dismiss
    #firstVideo
      %iframe{:allowFullScreen => "", :frameborder => "0", :height => "360", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/51794703?title=0&amp;byline=0&amp;portrait=0", :webkitAllowFullScreen => "", :width => "640"}
    .container
      #header.row.nav
        %span.brand
          = link_to image_tag('logo_front.png'), '/'
        %ul.nav.nav-tabs
          %li
            = link_to 'Home', '/'
          %li
            %a{:href => "http://www.flickr.com/photos/covisco"} Photos
          %li
            = link_to 'Codex podcast', '/codex'
      .row
        %p.notice= notice
        %p.notice= alert
      .row
        .col-sm-9
          #main.well
            .carousel-inner
              = yield

        #myBar.col-sm-3
          %div{:itemscope => "", :itemtype => "http://schema.org/LocalBusiness"}
            %h4{:itemprop => "name"} CoVis CoWorking
            %p{:style => "font-size:12px;"}
              %a{:href => "http://twitter.com/covisco"} covisco
              on Twitter
              %br/
              %a{:href => "http://facebook.com/covisco"} covisco
              on Facebook
              %br/
              %a{:href => "mailto:info@covisco.com"} info@covisco.com
            - if @latest_codex_guest.present?
              %h4
                Latest
                = link_to 'Codex', '/codex'
                entry:
              %div{style: 'text-align: center;'}
                %div{style: 'width:200px; display: inline-block; border: solid 1px #ddd; text-align: center; padding: 5px; background-color:#eee;'}
                  = link_to "/codex/#{@latest_codex_guest.slug}" do
                    = image_tag @latest_codex_guest.avatar.url(:small)
                    %br= @latest_codex_guest.full_name
      %hr/
      %footer{:style => "text-align:center;"}
        \&copy;
        %a{:href => "http://www.iceghost.com"} IceGhost LLC
    %script{:src => "http://local.covisco.com/checkins.php", :type => "text/javascript"}
    %script{:src => "http://local.covisco.com/events.php", :type => "text/javascript"}
    %script{:src => "http://local.covisco.com/desks.php", :type => "text/javascript"}
    :javascript
      var _gaq = _gaq || [];
      var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
      _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
      _gaq.push(['_setAccount', 'UA-1363435-14']);
      _gaq.push(['_trackPageview']);

      (function () {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
